.container{
  
  background-color: rgb(50, 78, 96);
    background-size: 10%;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
#container_techers{
  margin-top: 10%;
}
#nav_id{
  margin-right: 40%;
}
#form_teachers{
  margin-top: 6%;
  src: url(images/image.png);  
}
#form_register{
  box-shadow: 0 4px 8px 0 rgba(73, 47, 47, 0.2), 0 6px 20px 0 rgba(23, 18, 18, 0.19);
  background-color:  rgba(2, 14, 73, 0.677);
}
.img{
  border-radius: 30%;
}
#img{
  margin-top:7% ;
  
}
h3{
  margin-top: 20%;
}
#techerId{
  margin-top: 0%;
}
#teachersTable{
  background-color: aliceblue;
}
#teacherUpdate{
  margin-top: 4%;
 
}
